body {
    background: rgb(116, 136, 79);
}
@keyframes slidein {
    from {
      transform: rotate(0deg);
    }
  
    to {
        transform: rotate(360deg);
    }
  }

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.BigCircle1 {
    width: 200px;
    height: 100px;
    background: black;
    border-color: rgb(250, 250, 250);
    border-style: solid;
    border-width: 2px 2px 100px 2px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.circle1 {
    width: 25px;
    height: 25px;
    border: 37.5px solid black;
    background-color: #FAFAFA;
    float: left;
    position: absolute;
    border-radius: 50%;
    top: 50px;
    left: 100px;
}

.circle2 {
    width: 25px;
    height: 25px;
    border: 37.5px solid #FAFAFA;
    background-color: black;
    float: left;
    position: absolute;
    border-radius: 50%;
    top: 50px;
    left: 0px;
}